.AboutMeWrapper {
  .CircleCol {
    display: grid;
    grid-row: 1;
    grid-column: 1;

    .CircleText,
    .Circle {
      grid-column: 1;
      grid-row: 1;
    }

    .Circle {
      border: 35px solid #5e8cbd54;
      border-radius: 50%;
      width: 29rem;
      height: 29rem;

      @media only screen and (min-width: 760px) {
      }
    }

    .CircleText {
      .Title {
        height: 5rem;
        width: 15rem;

        -ms-transform: rotate(-3deg); /* IE 9 */
        -webkit-transform: rotate(-3deg); /* Safari */
        transform: rotate(-3deg);
        background: #5e8cbdd4;
        color: white;
        font-size: 2.7rem;
        text-align: center;
      }
      .Subtitle {
        font-size: 3.5rem;
        line-height: 3.5rem;
        font-weight: bolder;
      }
    }
  }

  .ContentCol {
    @media only screen and (max-width: 750px) {
    }
    font-size: 1.3rem;
  }
}
