@import "variables";

.MyHeaderWrapper {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 3rem 2.5rem 2.5rem 2.5rem 20rem auto;
  grid-template-areas:
    "name"
    "nav1"
    "nav2"
    "nav3"
    "profilepicture"
    "intro";
  font-family: $font-secondary;
  text-align: center;
  background: #ebebeb;

  .Name {
    grid-area: name;
    background: #393434;
    color: #ffffff;
    font-family: $font-main;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  .Nav1 {
    grid-area: nav1;

    display: flex;
    align-items: center;
    justify-content: center;
  }
  .Nav2 {
    grid-area: nav2;

    display: flex;
    align-items: center;
    justify-content: center;
  }
  .Nav3 {
    grid-area: nav3;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  .ProfilePicture {
    grid-area: profilepicture;
    height: 100%;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .Intro {
    grid-area: intro;

    .Title {
      font-size: 4rem;
    }
    .Subtitle {
      font-size: 1.5rem;
    }
    .Content {
      font-size: 1.1rem;
    }

    .Spacer {
      height: 1.1rem;
    }
    .CtaButton {
      font-size: 1.8rem;
      background: #24292e;
      color: #ffffff;
      margin-top: 2rem;
      transition: all 0.3s ease-in-out;

      &:hover {
        transform: scale(1.1);
        background: lighten(#24292e, 10%);
      }
    }
  }

  @media only screen and (min-width: 1024px) {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
      ". name . nav1 nav2 nav3 ."
      ". profilepicture profilepicture intro intro intro intro"
      ". profilepicture profilepicture intro intro intro intro"
      ". profilepicture profilepicture intro intro intro intro"
      ". . . . . . ."
      ". . . . . . .";

    clip-path: polygon(100% 0, 100% 84%, 64% 100%, 0 86%, 0 0);

    .Nav1,
    .Nav2,
    .Nav3 {
      font-size: 1.8rem;
    }
    .ProfilePicture {
      width: 100%;
    }
    .Intro {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      max-width: 40em;
      padding-left: 2em;
      text-align: left;

      .CtaButton {
        width: 8em;
        padding: 0.4em;
        text-align: center;
        box-shadow: #24292e;
      }
    }
  }
}
