.MyHeaderWrapper {
  background: #ebebeb;
  width: 100%;
  height: 100%;
  @media only screen and (min-width: 760px) {
    clip-path: polygon(100% 0, 100% 84%, 64% 100%, 0 86%, 0 0);
    height: 500px;
  }

  .Name {
    padding: 10% 0% 10% 20%;
    margin-bottom: -1.4rem;
    background: #393434;
    color: #ffffff;
  }

  .HeaderItem {
    margin-top: 1%;
    padding-left: 5%;
    @media only screen and (max-width: 760px) {
      padding: 10% 0% 5% 10%;
    }
  }

  .ProfileImage {
    max-width: 100%;
  }

  .AboutMeSection {
    min-width: 50%;

    .Title {
      font-size: 3rem;
      font-weight: bold;
    }
    .Subtitle {
      font-size: 1.4rem;
    }
    .Content {
      font-size: 1rem;
    }
    .ContactMeButton {
      width: 30%;
      padding: 2%;
      margin-top: 8%;
      background: #24292e;
      color: #ffffff;
      @media only screen and (max-width: 760px) {
        text-align: center;
        width: 100%;
      }
    }
  }
}
