@import "myAboutMe";
@import "myHeader";
@import "myFooter";
@import "notFound";
@import "myPdfViewer";

.App {
}

.WIP {
  font-size: 1.5rem;
  color: orangered;
  text-align: center;
  background: black;
}

.GSpacer {
  height: 7em;
}
